@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Roboto:wght@100;300;400;500;700;900&display=swap");

$font-1: "Roboto", sans-serif;
$font-2: "DM Serif Display", serif;
$color-1: #141720;
$color-2: #dfdfdf;
$color-3: #ababab;
$color-4: #bdbdbd;
$badge-color-1: #b59dff;

body {
  font-family: $font-1;
  font-weight: 500;
  background-color: $color-1;
  background-image: url("./assets/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;

  margin: 0 !important;
  padding: 0 !important;
}

a {
  &hover {
    color: $color-1 !important;
  }
}

h1,
h2,
h3 {
  font-family: $font-2;
  font-weight: 700;
  color: $color-2;
}

.text-dim {
  color: $color-3;
}

.intro {
  font-family: $font-2;
}
.my-img {
  // border-radius: 15px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border: none;
  //////////////
  --squircle-smooth: 0.8;
  --squircle-radius: 20px;
  // border: 4px solid $badge-color-1;
  mask-image: paint(squircle);
}
h1 {
  font-family: $font-2;
}
.bold {
  font-weight: 500;
}
p,
li,
h4,
h5,
h6 {
  font-weight: 400;
  line-height: 1.5;
}

.card {
  background-color: $color-2;
}
.rounded-5 {
  border-radius: 20px;
}
// .gray-img {
//   transition: all 0.5s;
//   filter: grayscale(100%);

//   &:hover {
//     filter: grayscale(0%);
//   }
// }
.badge {
  border-radius: 6px !important;
  padding: 5px 8px;
  background-color: $color-2;
  color: $color-1;
  transition: all 0.2s;
  &:hover {
    color: $color-1;
  }
}
.badge-dark {
  &:hover {
    background-color: #141720;
    color: #fff;
  }
}
.badge-light {
  &:hover {
    background-color: $color-2;
    color: #141720;
  }
}

.custom-underline {
  background: linear-gradient(transparent 70%, #9213e8 30%);
  display: inline;
  margin-top: 50px;
  padding: 3px 12px;
  /*@include mq('sp') {
      font-size: $size-subTitle-sp;
      margin-top: 30px;
  }*/
}

.flex-column {
  max-width: 300px;
  img {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.4s;
    &:hover {
      transform: scale(0.9);
      padding-top: 5px;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }
  }
}

.btn-light {
  background-color: $color-2;
}
.btn-dark {
  background-color: $color-1;
}

.text-light {
  color: $color-2 !important;
}
.head {
  color: $color-2;
  font-weight: 700;
}

.about-title {
  color: $color-4 !important;
}

.btn-custom-1 {
  background-color: $color-2;
  color: $color-1;
  &:hover {
    background-color: $color-4;
    color: $color-1;
  }
}

.nav-link {
  color: #fff;
  padding: 0.2rem 0.8rem;
  &:hover {
    color: $color-3;
  }
}
